@model Data.Helpers.PagedData<Data.Models.FatConsumptionTemplate>
@{
    ViewData["Title"] = "Fat Consumption Template List";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="prtm-content">
    @Html.Hidden("DeletedID")
    <div class="prtm-page-bar">
        <ul class="breadcrumb">
            <li class="breadcrumb-item text-capitalize"><h2>@ViewData["Title"]</h2></li>
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="#">Ui elements</a></li>
            <li class="breadcrumb-item"><a href="#" class="active">Fat Consumption Template List</a></li>
        </ul>
    </div>
    <div class="table-style">
        <div class="row mrgn-b-sm">
            <div class="col-md-5 col-lg-5">
                <button onclick="addfatconsumptiontemplate()" class="btn btn-xs btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                @*<div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-xs btn-info dropdown-toggle" type="button"><i class="fa fa-share-square-o" aria-hidden="true"></i> Export <i class="fa fa-sort-desc" aria-hidden="true"></i> </button>
                        <ul role="menu" class="dropdown-menu">
                            <li onclick="fnExcelReport()"> <a href="javascript:;"> Xls Format </a> </li>
                            <li id="pdfExport"> <a href="javascript:;"> PDF Format </a> </li>
                        </ul>
                    </div>*@
            </div>

            <div class="col-md-7 text-right search-block">
                <div class="input-group pull-right" id="adv-search">
                    <input type="text" name="search" id="search1" class="form-control" placeholder="Search..." onkeyup="getfatconsumptionsearch(1);" />

                </div>
            </div>

        </div>
        <div class="prtm-block pos-relative">
            <div class="prtm-block-content">
                <div class="table-responsive">
                    <div id="userList" class="unseen">
                        @{
                            Html.RenderPartial("GetFatConsumption");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->

    <div class="add-modal">
        <div id="modalDiv" class="modal fade" role="dialog">

        </div>
    </div>

    <!---End Model--->

</div>

@section scripts{
    <script type="text/javascript">
        function addfatconsumptiontemplate() {
        $.ajax({
            url: '/admin/template/AddFatConsumptionTemplate',
            contentType: 'application/json; charse=utf-8',
            type: 'get',
            success: function (result) {
                $('#modalDiv').html(result);
                $('#modalDiv').modal('show');
            },
            error: function (xhr, status) {
                alert(status)
            }
        });
        }
        function SaveFatConsumption() {

                var data = new FormData();

        data.append("EffectedGeneID", $("#EffectedGeneID").val());
        data.append("ConsumptionTypeID", $("#ConsumptionTypeID").val());
        data.append("Reccomendations", $("#Reccomendations").val());
      
           if (document.getElementById('Effected').checked) {
                data.append('Effected', "true");
            }

             $.ajax({
            url: '/admin/template/AddFatConsumptionTemplates',
            data: data,
            type: 'Post',
            processData: false, contentType: false,
            success: function (result) {
                if (result) {
                    alert('Data Saved !')
                    $('#modalDiv').modal('hide');
                    window.location.reload();
                }
            },
            error: function (xhr, status) {
                alert(status)
            }
        });



        }
        function RefreshPage() {
            var page = parseInt($('.page-number').html());
            debugger
            $.ajax({
                url: '/admin/user/_index',
                data: { "page": page },
                success: function (data) {
                    debugger
                    $("#userList").html(data);
                    debugger
                }
            });
        }

        function editFatConsumption(id) {
                             $.ajax({
            url: '/admin/template/UpdateFatConsumptionTemplate/' + id,
            success: function (result) {
                debugger
                $('#modalDiv').html(result);
                $('#modalDiv').modal('show');
            },
            error: function (xhr, status) {
                alert(status)
            }
        });

        }
         function UpdateFatConsumption() {
                var data = new FormData();

             
             data.append("ID", $("#ID").val());
       data.append("EffectedGeneID", $("#EffectedGeneID").val());
        data.append("ConsumptionTypeID", $("#ConsumptionTypeID").val());
        data.append("Reccomendations", $("#Reccomendations").val());
      
           if (document.getElementById('Effected').checked) {
                data.append('Effected', "true");
            }


             $.ajax({
            url: '/admin/template/UpdateFatConsumptionTemplates',
            data: data,
            type: 'Post',
            processData: false, contentType: false,
            success: function (result) {
                if (result) {
                    alert('Data Saved !')
                    $('#modalDiv').modal('hide');
                    window.location.reload();
                }
            },
            error: function (xhr, status) {
                alert(status)
            }
        });






            }




        function Delete(id) {
          //  $('#DeletedID').val(id);
            swal({
                title: "Are you sure?",
                text: "Are you sure you want to delete this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-warning",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
                function () {
                    debugger
                   // var id = $("#DeletedID").val();
                    $.ajax({
                        url: '/admin/template/deletefatconsumption?id=' + id,
                        type: 'GET',
                        success: function (data) {
                            debugger
                            swal("Deleted!", "Your imaginary file has been deleted.", "success");
                            location.reload();
                        },
                        error: function () {
                            debugger
                            swal("Cancelled", "Something went wrong :)", "error");
                        }
                    });
                });
        }

        function getfatconsumptionsearch(i) {
            debugger
            var Page = i;
            var searchstring = $("#search1").val();
            $.ajax({
                        url: '/admin/template/GetFatConsumption?page=' +Page+'&searchstring='+searchstring,
                        type: 'GET',
                    success: function (result) {
                        debugger
                         $(".unseen").html(result)
                          },
                        error: function (xhr, status) {
                            toastr.error('Something went wrong');
                        }
                       });



        }

        function GetLogTable(id) {
            debugger
            $.ajax({
                url: '/admin/user/History?id=' + id+'&tableName=user',
                type: 'GET',
                success: function (data) {
                    $(".modal-content").html(data);
                    $("#exampleModalCenter").modal().toggle();
                },
                error: function () {
                    toastr.error('Something went wrong');
                }
            });
        }

        function GetAttachment(id) {
             $.ajax({
                url: '/admin/user/Attachment?id='+id+'&tableName=user',
                type: 'GET',
                success: function (data) {
                    $(".modal-content").html(data);
                    $("#exampleModalCenter").modal().toggle();
                },
                error: function () {
                    toastr.error('Something went wrong');
                }
            });
        }
        $("body").on("click", "#pdfExport", function () {
            html2canvas($('#userTbl')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Table.pdf");
                }
            });
        });

        function fnExcelReport() {
            var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
            var textRange; var j = 0;
            var tab = document.getElementById('userTbl'); // id of table

            for (j = 0; j < tab.rows.length; j++) {
                tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            }

            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true, "Patients.xls");
            }
            else                 //other browser not tested on IE 11
                sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

            return (sa);
        }
    </script>
}


